body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 300px;
  margin: 50px auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 8px;
  background: #fff;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

button {
  cursor: pointer;
}
